<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>

        </title>
        <!-- Stylesheet - Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>

    <nav class="navbar navbar-expand-sm bg-dark navbbar-dark"> <!-- VS function that builds nav classes-->
        <ul class="navbar">
            <li class="nav-item active">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact Us</a>
            </li>
        </ul>
    </nav> 

    <div class="container" role="main">
        <br><br>
        <h2><%= message %></h2>
    </div>
    <div class="container" role="secondary">
        <br>
        <h3>Secondary Header</h3>
    </div>
    <br>

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">BS</th>
            <th scope="col">Bootstrap</th>
            <th scope="col">Bootstrap</th>
            <th scope="col">Bootstrap</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">bs</th>
            <td>Bootstrap</td>
            <td>Bootstrap</td>
            <td>Bootstrap</td>
          </tr>
          <tr>
            <th scope="row">bs</th>
            <td>Bootstrap</td>
            <td>Bootstrap</td>
            <td>Bootstrap</td>
          </tr>
          <tr>
            <th scope="row">bs</th>
            <td>Bootstrap</td>
            <td>Bootstrap</td>
            <td>Bootstrap</td>
          </tr>
        </tbody>
      </table>
      <br>
     
    </body>
</html>

