<div class="card">
    <h3 class="card-header">Mark Cuban</h3>
    <div class="card-body">
      <h4 class="card-title">Software Engineer</h4>
      <p class="card-text">CEO of the brand.  Currently in talks with finance to discuss future spending</p>
      <a href="#!" class="btn btn-primary">View Profile</a>
    </div>
  </div>